body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header,
.content,
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
}

.header {
  justify-content: space-around;
}

.logo {
  font-size: 24px;
  font-weight: 900;
  color: #f9faf8;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
  font-size: 18px;
  color: #e3e7eb;
}

.content,
.info,
.testimonial,
.call {
  display: flex;
  justify-content: center;
  flex: 1;
  padding: 24px;
}

.content .box,
.content img {
  width: 500px;
  height: auto;
  color: #f9faf8;
  margin: 48px 0;
  padding: 16px;

}

.content .heading {
  font-size: 48px;
  font-weight: 900;
}

.content p {
  font-size: 18px;
  margin: 0;
  margin-bottom: 16px;
}

.content img {
  text-align: center;
}

.footer {
  color: #f9faf8;
  padding: 16px;
}
